body{
    background-image: url("https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/1AB2965C5F230407C8E91E6D14269FBD3F4ED99D10C2B0C7C8CBC12D392B0578/scale?format=webp");
    font-family: "Quicksand", sans-serif; 
    color: rgb(0, 123, 255);
}